*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('../img/NYC Sky.jpg') no-repeat center center/cover;
    min-height: 100vh;
    margin: 0;
    background-attachment: fixed;
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.container{
    width: 100%;
    margin: auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.header img {
    width: 150px; 
    height: auto;
    border-radius: 50%; 
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #E6E6FA;
    font-size: 1.1em;
    padding: 8px 5px;
    transition: 0.3s ease-in-out;
    position: relative;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 0;
    height: 4px;
    background: #367588;
    transition: width 0.2s ease-in-out;
}
.nav-links a:hover::after {
    width: 100%;
}
.nav-links a.active::after {
    width: 100%;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: white;
    font-family: "Tektur", sans-serif;
}

p {
    font-size: 1.2rem;
    color: white;
}

.contact-details {
    background: rgba(255, 255, 255, 0.80);
    padding: 20px;
    margin-top: 20px;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.contact-details h2{
    font-size: 1.8rem;
    color: #1D4976;
    font-family: "Tektur", sans-serif;
}

.contact-details p {
    font-size: 1.2rem;
    color: #333;
}

.contact-details i {
    color: #1D4976;
    margin-right: 5px;
}

.social-links {
    background: rgba(255, 255, 255, 0.80);
    margin-top:20px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.social-links h2 {
    font-size: 1.8rem;
    color: #1D4976;
    font-family: "Tektur", sans-serif;
}

.social-links a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #1D4976;
    display: block;
    margin: 10px;
    transition: 0.3s ease-in-out;
}

.social-links a:hover {
    color: #163A5F;
    transform: scale(1.1);
}

.social-links i {
    font-size: 1.5rem;
    margin-right: 5px;
}

.faq {
    background: rgba(255, 255, 255, 0.80);
    padding: 40px;
    margin: 20px auto;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.faq h2 {
    font-size: 2rem;
    color: #1D4976;
    font-family: "Tektur", sans-serif;
}

.faq-item {
    text-align: left;
    padding: 15px;
    margin-top: 15px;
    border-bottom: 1px solid #ddd;
}

.faq-item h3 {
    font-size: 1.3rem;
    color: #333;
}
.faq-item p {
    font-size: 1.3rem;
    color: #333;
}

.chat {
    background: #1D4976;
    color: white;
    padding: 40px;
    margin-top: 20px;
}

.chat h2 {
    font-size: 2rem;
    font-family: "Tektur", sans-serif;
}

.chat p {
    font-size: 1.2rem;
}
.contact-details:hover, .faq:hover, .social-links:hover{
    background: rgba(255, 255, 255, 0.95);
    transition: 0.3s ease-in-out;
}
footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: #fff;
}

footer a {
    color: #4db8ff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}